In [1]:
#Isso é um comentário

In [3]:
#Importando bibliotecas
#Por convenção vamos chamar o Pandas de pd
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [5]:
#Carregar o arquivo csv (DataFrame)
#O pandas vai converter o arquivo em um DataFrame
#Por convenção chamamos o DataFrame de df
#Criando a variável df
# O arquivo é separado por ';' por isso informamos o separador 
#O arquivo é codificado como cp1252
df = pd.read_csv('Teste.csv', sep=';', encoding='cp1252')

#Mostra as 5 primeiras linhas do DataFrame
df.head()

   x   y
0  1  11
1  2  12
2  3  13
3  4  14
4  5  15

In [7]:
#Quantas linhas existem no arquivo por coluna?
df.count()

x    10
y    10
dtype: int64

In [9]:
#Análises dos dados detalhados? Descrição dos dados das colunas.
df.describe()

              x         y
count  10.00000  10.00000
mean    5.50000  15.50000
std     3.02765   3.02765
min     1.00000  11.00000
25%     3.25000  13.25000
50%     5.50000  15.50000
75%     7.75000  17.75000
max    10.00000  20.00000

In [11]:
#Qual é o tipo dos dados de cada coluna?
df.dtypes

x    int64
y    int64
dtype: object

In [14]:
#Selecionar os itens e contar estes itens
df['y'].value_counts()

15    1
14    1
13    1
12    1
11    1
20    1
19    1
18    1
17    1
16    1
Name: y, dtype: int64

In [2]:
#Mostrando os dados em um gráfico
# Precisamos informar que queremos visualizar o gráfico dentro do próprio notebook
%matplotlib inline

#Plotar o gráfico para os ítens da coluna y em um gráfico de barra
df['y'].value_counts().plot.bar()

NameError: name 'df' is not defined